<div class="jumbotron">
  <h1>Doctor_Patient</h1>
</div>
<br>
<h2>Choose your role:</h2>
<div class="form-group">
  <form action='/doctors'><button type='submit' name="doctor" class="btn btn-success">DOCTOR</button></form>
  <br>
  <hr>
  <form action="/patients"><button  name="patient" class="btn btn-success">PATIENT</button></form>
  <br>
  <hr>
  <form action="/administrators"><button formaction="/administrators" name="admin" class="btn btn-success">ADMINISTRATOR</button></form>
</div>
